.types,
.types_tablet {
  margin: auto;
}

.types__show {
  border: none;
  color: #1b1c21;
  background: #f8f8f8;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}

.types__show_hidden {
  margin: 8px 32px 34px;
}

.types__show_shown {
  margin: 0 32px 34px;
}

.types__show_hidden::before {
  content: '';
  display: block;
  margin: 0;
  width: 24px;
  height: 24px;
  background-image: url('../img/Arrows.svg');
}

.types__show_shown::before {
  content: '';
  display: block;
  margin: 0;
  width: 24px;
  height: 24px;
  background-image: url('../img/Arrows.svg');
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .types_tablet {
    display: none;
  }

  html {
    body {
      .slider_types {
        width: 320px;
        height: 288px;

        h2 {
          margin-top: 0;
          margin-bottom: 16px;
          padding: 16px;
          padding-bottom: 10px;
          height: 48px;
          background: white;
          color: #7e7e82;
          font-family: TT Lakes;
          font-size: 18px;
          font-weight: normal;
        }

        .swiper-slide {
          width: 240px;
          height: 160px;
          justify-content: space-around;
          background: #f8f8f8;

          .slider__wrapper {
            padding: 0 16px;
            width: 240px;
            height: inherit;
            background: white;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .slider__description {
              align-self: flex-start;
              margin-top: 16px;
            }

            .slider__btn {
              align-self: flex-end;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .types_tablet {
    width: 768px;

    .types__header {
      margin: 0;
      padding: 16px 24px;
      height: 56px;
      background-color: white;
      color: #7e7e82;
      font-family: 'TT Lakes';
      font-weight: normal;
      line-height: 56px;
    }

    .types__grid {
      padding: 24px 24px 16px;
      height: 160px;
      display: grid;
      grid-template-columns: 224px 224px 224px;
      grid-template-rows: 160px;
      gap: 16px 24px;
    }

    .types__additional {
      padding: 0 24px 16px;
      height: 160px;
      display: none;
      grid-template-columns: 224px 224px 224px;
      grid-template-rows: 160px;
      gap: 16px 24px;

      .types__type:nth-child(5) {
        display: none;
      }
    }

    .types__type {
      padding: 16px;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .types__description {
        align-self: flex-start;
      }

      .types__btn {
        width: 40px;
        height: 40px;
        border: 2px solid #ff3e79;
        border-radius: 50%;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .types__arrow {
        width: 10px;
        height: 10px;
        border-top: 2px solid #ff3e79;
        border-right: 2px solid #ff3e79;
        transform: translateX(-3px) rotate(45deg);
      }
    }

    .types__type:nth-child(4) {
      display: none;
    }
  }
}

@media (min-width: 1120px) {
  .types_tablet {
    width: 1120px;
  }

  .types__header {
    margin: 0;
    padding: 16px 24px;
    height: 56px;
    background-color: white;
    color: #7e7e82;
    font-family: 'TT Lakes';
    font-weight: normal;
    line-height: 56px;
  }

  .types__grid {
    padding: 32px 32px 16px;
    height: 160px;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 160px;
    gap: 16px 32px;
  }

  .types__additional {
    padding: 0 32px 16px;
    height: 160px;
    display: none;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 160px;
    gap: 16px 32px;

    .types__type:nth-child(1) {
      display: none;
    }
  }

  .types__type {
    padding: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .types__description {
      align-self: flex-start;
    }

    .types__btn {
      width: 40px;
      height: 40px;
      border: 2px solid #ff3e79;
      border-radius: 50%;
      align-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .types__arrow {
      width: 10px;
      height: 10px;
      border-top: 2px solid #ff3e79;
      border-right: 2px solid #ff3e79;
      transform: translateX(-3px) rotate(45deg);
    }
  }
}
