body {
  margin: 0;
}

.field {
  width: 100vh;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.row {
  display: flex;
}

.cell {
  width: 3.226vh;
  height: 3.226vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  box-sizing: border-box;

  color: red;

  transition-duration: 0.1s;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.start {
  width: 300px;
  height: 100px;

  position: absolute;
  right: 4%;
  top: 0;
  bottom: 20%;
  margin: auto;
}

.reset {
  width: 300px;
  height: 100px;

  position: absolute;
  right: 4%;
  top: 20%;
  bottom: 0;
  margin: auto;
}

.active {
  background-color: black;
}