@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-DemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Medium.ttf);
  font-weight: medium;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Regular.ttf);
  font-weight: normal;
}
@media (max-width: 359px) {
  .sidebar {
    padding-top: 19px;
    padding-bottom: 32px;
    width: 320px;
    height: 100vh;
    font-family: TT Lakes;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.0196078431);
    position: fixed;
    background: white;
    z-index: 50;
  }
  .sidebar_hidden {
    transform: translateX(-100%);
  }
  .sidebar_shown {
    transform: translateX(0);
  }
  .sidebar__header {
    display: flex;
    align-items: center;
  }
  .sidebar__logo {
    margin-left: 17px;
  }
  .sidebar__btn {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn__line {
    width: 22px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
  }
  .sidebar__header .line1 {
    transform: rotate(45deg);
  }
  .sidebar__header .line2 {
    transform: rotate(-45deg);
  }
  .sidebar__header > .btn:nth-child(1) {
    margin-left: 16px;
  }
  .sidebar__header > .btn:nth-child(3) {
    margin-left: 94px;
  }
  .sidebar__menu {
    margin-top: 46px;
    padding: 0;
  }
  .sidebar__item {
    list-style-type: none;
    margin-bottom: 32px;
    padding: 0;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
  }
  .sidebar__item_active {
    color: #7e7e82;
  }
  .sidebar__item_active::before {
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    position: absolute;
    border-radius: 0 7px 7px 0;
  }
  .sidebar__text {
    margin-left: 16px;
  }
  .sidebar__footer {
    margin-left: 16px;
  }
  .sidebar__buttons {
    display: flex;
    gap: 16px;
  }
  .sidebar__email {
    margin-top: 16px;
    font-size: 16px;
  }
  .sidebar__phone {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 600;
  }
  .sidebar__languages {
    margin-top: 40px;
  }
  .sidebar__language_active {
    color: #7e7e82;
  }
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-DemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Medium.ttf);
  font-weight: medium;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Regular.ttf);
  font-weight: normal;
}
@media (min-width: 360px) and (max-width: 768px) {
  .sidebar {
    padding-top: 19px;
    padding-bottom: 32px;
    width: 360px;
    height: 100vh;
    font-family: TT Lakes;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.0196078431);
    position: fixed;
    background: white;
    z-index: 50;
  }
  .sidebar_hidden {
    transform: translateX(-100%);
  }
  .sidebar_shown {
    transform: translateX(0);
  }
  .sidebar__header {
    display: flex;
    align-items: center;
  }
  .sidebar__logo {
    margin-left: 17px;
  }
  .sidebar__btn {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn__line {
    width: 22px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
  }
  .sidebar__header .line1 {
    transform: rotate(45deg);
  }
  .sidebar__header .line2 {
    transform: rotate(-45deg);
  }
  .sidebar__header > .btn:nth-child(1) {
    margin-left: 24px;
  }
  .sidebar__header > .btn:nth-child(3) {
    margin-left: 112px;
  }
  .sidebar__menu {
    margin-top: 46px;
    padding: 0;
  }
  .sidebar__item {
    list-style-type: none;
    margin-bottom: 32px;
    padding: 0;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
  }
  .sidebar__item_active {
    color: #7e7e82;
  }
  .sidebar__item_active::before {
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    position: absolute;
    border-radius: 0 7px 7px 0;
  }
  .sidebar__text {
    margin-left: 24px;
  }
  .sidebar__footer {
    margin-left: 24px;
  }
  .sidebar__buttons {
    display: flex;
    gap: 16px;
  }
  .sidebar__email {
    margin-top: 16px;
    font-size: 16px;
  }
  .sidebar__phone {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 600;
  }
  .sidebar__languages {
    margin-top: 40px;
  }
  .sidebar__language_active {
    color: #7e7e82;
  }
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-DemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Medium.ttf);
  font-weight: medium;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Regular.ttf);
  font-weight: normal;
}
@media (min-width: 768px) {
  .sidebar {
    padding-top: 19px;
    padding-bottom: 32px;
    width: 320px;
    height: 100vh;
    font-family: TT Lakes;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.0196078431);
    position: fixed;
    background: white;
    z-index: 50;
    transform: translateX(-100%);
  }
  .sidebar_hidden {
    transform: translateX(-100%);
  }
  .sidebar_shown {
    transform: translateX(0);
  }
  .sidebar__header {
    display: flex;
    align-items: center;
  }
  .sidebar__logo {
    margin-left: 17px;
  }
  .btn__line {
    width: 22px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
  }
  .sidebar__header .line1 {
    transform: rotate(45deg);
  }
  .sidebar__header .line2 {
    transform: rotate(-45deg);
  }
  .sidebar__header > .btn:nth-child(1) {
    margin-left: 24px;
  }
  .sidebar__header > .btn:nth-child(3) {
    margin-left: 78px;
  }
  .sidebar__menu {
    margin-top: 46px;
    padding: 0;
  }
  .sidebar__item {
    list-style-type: none;
    margin-bottom: 32px;
    padding: 0;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
  }
  .sidebar__item_active {
    color: #7e7e82;
  }
  .sidebar__item_active::before {
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    position: absolute;
    border-radius: 0 7px 7px 0;
  }
  .sidebar__text {
    margin-left: 24px;
  }
  .sidebar__footer {
    margin-left: 24px;
  }
  .sidebar__buttons {
    display: flex;
    gap: 16px;
  }
  .sidebar__email {
    margin-top: 16px;
    font-size: 16px;
  }
  .sidebar__phone {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 600;
  }
  .sidebar__languages {
    margin-top: 40px;
  }
  .sidebar__language_active {
    color: #7e7e82;
  }
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-DemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Regular.ttf);
  font-weight: normal;
}
@media (max-width: 768px) {
  .brands {
    display: none;
  }
  html body .swiper {
    width: 320px;
    height: 205px;
  }
  html body .swiper h1 {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 16px;
    padding-bottom: 10px;
    height: 48px;
    background: white;
    color: #7e7e82;
    font-family: TT Lakes;
    font-size: 18px;
    font-weight: normal;
  }
  html body .swiper .swiper-slide {
    width: 240px;
    height: 72px;
    justify-content: space-around;
    background: #f8f8f8;
  }
  html body .swiper .swiper-slide .slider__wrapper {
    padding: 0 16px;
    width: 240px;
    height: 72px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  html body .swiper .swiper-slide .slider__wrapper img {
    width: 108px !important;
    height: 32px !important;
    object-fit: contain;
  }
  .slider__btn {
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #ff3e79;
    border-right: 2px solid #ff3e79;
    transform: translateX(-3px) rotate(45deg);
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
  .swiper,
  .main__brand:nth-child(n+7) {
    display: none;
  }
  .brands {
    margin: auto;
    width: 768px;
  }
  .brands__header {
    margin: 0;
    padding: 16px 24px;
    height: 56px;
    background-color: white;
    color: #7e7e82;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 56px;
  }
  .main__brands {
    padding: 24px 24px 16px;
    height: 160px;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 72px 72px;
    gap: 16px 24px;
  }
  .main__hidden {
    padding: 0 24px 24px;
    height: 72px;
    display: none;
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 72px;
    gap: 24px;
  }
  .main__brand {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main__brand > img {
    width: 108px;
    height: 32px;
  }
  .main__btn {
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #ff3e79;
    border-right: 2px solid #ff3e79;
    transform: translateX(-3px) rotate(45deg);
  }
  .main__show {
    border: none;
    color: #1b1c21;
    background: #f8f8f8;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .main__show_hidden {
    margin: 8px 32px 34px;
  }
  .main__show_shown {
    margin: 0 32px 34px;
  }
  .main__show_hidden::before {
    content: "";
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url(./static/Arrows.svg);
  }
  .main__show_shown::before {
    content: "";
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url(./static/Arrows.svg);
    transform: rotate(180deg);
  }
}
@media (min-width: 1120px) {
  .swiper {
    display: none;
  }
  .brands {
    margin: auto;
    width: 1120px;
  }
  .brands__header {
    margin: 0;
    padding: 16px 32px;
    height: 56px;
    background-color: white;
    color: #7e7e82;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 56px;
  }
  .main__brands {
    padding: 24px 32px 16px;
    height: 160px;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 72px 72px;
    gap: 16px 32px;
  }
  .main__hidden {
    padding: 0 32px 24px;
    height: 72px;
    display: none;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 72px;
    gap: 16px 32px;
  }
  .main__brand {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main__brand > img {
    width: 108px;
    height: 32px;
  }
  .main__btn {
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #ff3e79;
    border-right: 2px solid #ff3e79;
    transform: translateX(-3px) rotate(45deg);
  }
  .main__show {
    border: none;
    color: #1b1c21;
    background: #f8f8f8;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .main__show_hidden {
    margin: 8px 32px 34px;
  }
  .main__show_shown {
    margin: 0 32px 34px;
  }
  .main__show_hidden::before {
    content: "";
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url(./static/Arrows.svg);
  }
  .main__show_shown::before {
    content: "";
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url(./static/Arrows.svg);
    transform: rotate(180deg);
  }
}
.types,
.types_tablet {
  margin: auto;
}

@media (max-width: 768px) {
  .types_tablet {
    display: none;
  }
  html body .slider_types {
    width: 320px;
    height: 288px;
  }
  html body .slider_types h2 {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 16px;
    padding-bottom: 10px;
    height: 48px;
    background: white;
    color: #7e7e82;
    font-family: TT Lakes;
    font-size: 18px;
    font-weight: normal;
  }
  html body .slider_types .swiper-slide {
    width: 240px;
    height: 160px;
    justify-content: space-around;
    background: #f8f8f8;
  }
  html body .slider_types .swiper-slide .slider__wrapper {
    padding: 0 16px;
    width: 240px;
    height: inherit;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  html body .slider_types .swiper-slide .slider__wrapper .slider__description {
    align-self: flex-start;
    margin-top: 16px;
  }
  html body .slider_types .swiper-slide .slider__wrapper .slider__btn {
    align-self: flex-end;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .types_tablet {
    width: 768px;
  }
  .types__header {
    margin: 0;
    padding: 16px 24px;
    height: 56px;
    background-color: white;
    color: #7e7e82;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 56px;
  }
  .types__grid {
    padding: 24px 24px 16px;
    height: 340px;
    display: grid;
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 160px 160px;
    gap: 16px 24px;
  }
  .types__type {
    padding: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .types__description {
    align-self: flex-start;
  }
  .types__btn {
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    border-radius: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .types__arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #ff3e79;
    border-right: 2px solid #ff3e79;
    transform: translateX(-3px) rotate(45deg);
  }
}
@media (min-width: 1120px) {
  .types_tablet {
    width: 1120px;
  }
  .types__header {
    margin: 0;
    padding: 16px 24px;
    height: 56px;
    background-color: white;
    color: #7e7e82;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 56px;
  }
  .types__grid {
    padding: 32px 32px 16px;
    height: 340px;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 160px 160px;
    gap: 16px 32px;
  }
  .types__type {
    padding: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .types__description {
    align-self: flex-start;
  }
  .types__btn {
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    border-radius: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .types__arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #ff3e79;
    border-right: 2px solid #ff3e79;
    transform: translateX(-3px) rotate(45deg);
  }
}
.prices_tablet {
  margin: auto;
}

@media (max-width: 767px) {
  .prices_tablet {
    display: none;
  }
  html body .prices {
    width: 320px;
    margin: auto;
  }
  html body .prices .prices__text {
    padding: 0 16px;
  }
  html body .prices .prices__offer {
    padding: 0 16px;
  }
  html body .prices .slider_prices {
    width: 320px;
    height: 358px;
  }
  html body .prices .slider_prices h2 {
    margin-top: 0;
    padding: 16px;
    margin-bottom: 32px;
    padding-bottom: 10px;
    height: 48px;
    background: white;
    color: #7e7e82;
    font-family: TT Lakes;
    font-size: 18px;
    font-weight: normal;
  }
  html body .prices .slider_prices .swiper-slide {
    width: 240px;
    height: 200px;
    text-align: start;
    justify-content: space-around;
    background: #f8f8f8;
  }
  html body .prices .slider_prices .swiper-slide .slider__wrapper {
    padding: 16px;
    width: 240px;
    height: inherit;
    background: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  html body .prices .slider_prices .swiper-slide .slider__wrapper h3 {
    font-size: 18px;
    margin: 0;
    color: #7e7e82;
    font-weight: 400;
  }
  html body .prices .slider_prices .swiper-slide .slider__wrapper p {
    margin: 0;
    text-align: start;
  }
  html body .prices .slider_prices .swiper-slide .slider__wrapper span {
    display: inline;
  }
  html body .prices .slider_prices .swiper-slide .slider__wrapper .slider__order {
    width: 228px;
    height: 32px;
    display: flex;
    justify-content: space-between;
  }
  html body .prices .slider_prices .swiper-slide .slider__wrapper .slider__order .btn_order {
    width: 119px;
    height: 32px;
    border-radius: 16px;
    color: white;
    background-color: #ff3e79;
    display: flex;
    justify-content: center;
    gap: 17px;
  }
  html body .prices .slider_prices .swiper-slide .slider__wrapper .slider__order .btn_order::after {
    content: "";
    width: 7px;
    height: 10px;
    background-image: url(./static/Dropdown.svg);
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .prices_tablet {
    width: 768px;
  }
  .prices_tablet .prices__header {
    margin: 0;
    padding: 16px 24px;
    height: 56px;
    background-color: white;
    color: #7e7e82;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 56px;
  }
  .prices_tablet .prices__table {
    margin: 24px 24px 16px;
    width: 720px;
    height: 356px;
    background-color: #fff;
  }
  .prices_tablet .prices__cell:nth-child(4n+1) {
    padding-left: 16px;
  }
  .prices_tablet .btn_order {
    width: 119px;
    height: 32px;
    border-radius: 16px;
    color: white;
    background-color: #ff3e79;
    display: flex;
    justify-content: center;
    gap: 17px;
  }
  .prices_tablet .btn_order::after {
    content: "";
    width: 7px;
    height: 10px;
    background-image: url(./static/Dropdown.svg);
  }
}
@media (min-width: 1120px) {
  .prices_tablet {
    width: 1120px;
  }
  .prices__header {
    margin: 0;
    padding: 16px 24px;
    height: 56px;
    background-color: white;
    color: #7e7e82;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 56px;
  }
  .prices__table {
    margin: 32px 32px 16px;
    width: 1056px;
    height: 488px;
    background-color: #fff;
  }
  .prices__table .prices__cell:nth-child(4n+1) {
    padding-left: 24px;
  }
  .prices__table .btn_order {
    width: 119px;
    height: 32px;
    border-radius: 16px;
    color: white;
    background-color: #ff3e79;
    display: flex;
    justify-content: center;
    gap: 17px;
  }
  .prices__table .btn_order::after {
    content: "";
    width: 7px;
    height: 10px;
    background-image: url(./static/Dropdown.svg);
  }
}
.offer {
  margin: auto;
  margin-bottom: 58px;
}
.offer .offer__text,
.offer .offer__link {
  background: #f8f8f8;
}
.offer .offer__link {
  display: block;
}
.offer .offer__link::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 22px;
  background-image: url(./static/ArrowRight.svg);
  background-position: 0 -2px;
}

@media (max-width: 768px) {
  .offer {
    width: 320px;
  }
  .offer .offer__text,
  .offer .offer__link {
    background: #f8f8f8;
  }
  .offer .offer__text {
    width: 250px;
    padding: 0 16px;
  }
  .offer .offer__link {
    margin: 0 16px;
    width: 200px;
    color: #1b1c21;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
  .offer {
    width: 768px;
  }
  .offer .offer__text,
  .offer .offer__link {
    background: #f8f8f8;
  }
  .offer .offer__text {
    width: 421px;
    padding: 0 24px;
  }
  .offer .offer__link {
    margin: 0 24px;
    width: 316px;
    color: #1b1c21;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }
}
@media (min-width: 1120px) {
  .offer {
    width: 1120px;
  }
  .offer .offer__text,
  .offer .offer__link {
    background: #f8f8f8;
  }
  .offer .offer__text {
    width: 421px;
    padding: 0 32px;
  }
  .offer .offer__link {
    margin: 0 32px;
    width: 316px;
    color: #1b1c21;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }
}
.footer {
  margin: auto;
  padding-bottom: 20px;
  background: #f8f8f8;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    width: 320px;
  }
  .footer__info {
    padding: 0 16px;
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
  .footer {
    width: 768px;
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .footer .footer__team {
    width: 218px;
  }
  .footer .footer__policy {
    width: 214px;
  }
  .footer .footer__info {
    width: 213px;
  }
}
@media (min-width: 1120px) {
  .footer {
    width: 1120px;
    padding: 0 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .footer .footer__team {
    width: 218px;
  }
  .footer .footer__policy {
    width: 214px;
  }
  .footer .footer__info {
    width: 213px;
  }
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-DemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Medium.ttf);
  font-weight: medium;
}
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Regular.ttf);
  font-weight: normal;
}
body {
  font-family: TT Lakes;
  margin: 0;
}
body button {
  font-family: TT Lakes;
}

.header {
  padding: 19px 0 19px 0;
}

@media (max-width: 768px) {
  .header__separator:nth-child(2),
  .header__tablet {
    display: none;
  }
  .header__bar > .header__separator:nth-child(2) {
    display: block;
  }
  .header__buttons {
    width: 320px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .btn {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    font-weight: 600;
    background: #f8f8f8;
  }
  .btn_small {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border-width: 0;
  }
  .btn_settings {
    background-image: url(./static/SettingsLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_search {
    background-image: url(./static/SearchLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_phone {
    background-image: url(./static/Phone.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_message {
    background-image: url(./static/Message.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_profile {
    background-image: url(./static/Profile.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_settings {
    background-image: url(./static/SettingsLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_search {
    background-image: url(./static/SearchLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__bar {
    width: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__phone {
    width: 96px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .header__icon {
    width: 18px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__line {
    height: 2px;
    border-radius: 1px;
    background-color: white;
  }
  .header__icon .line1 {
    width: 18px;
  }
  .header__icon .line2 {
    width: 10px;
  }
  .header__icon .line3 {
    width: 14px;
  }
  .header__separator {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
  }
  .main {
    width: 100%;
    background: #f8f8f8;
    overflow-x: hidden;
  }
  .main__container {
    width: 320px;
    margin: auto;
    padding-top: 16px;
    background: #f8f8f8;
    overflow: hidden;
  }
  .main__header {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .main__header::before {
    content: "";
    width: 4px;
    height: 40px;
    background: #41f6d7;
    border-radius: 0 7px 7px 0;
    position: absolute;
  }
  .main__nav {
    padding: 0 16px;
    display: flex;
    overflow-x: scroll;
  }
  .main__nav::-webkit-scrollbar {
    display: none;
  }
  .main__mask {
    width: 320px;
    height: 40px;
    position: absolute;
    pointer-events: none;
  }
  .main__mask::before {
    content: "";
    width: 24px;
    height: 40px;
    position: absolute;
    background-image: linear-gradient(to right, rgb(248, 248, 248), rgba(248, 248, 248, 0));
  }
  .main__mask::after {
    content: "";
    display: block;
    width: 24px;
    height: 40px;
    position: absolute;
    background-image: linear-gradient(to left, rgb(248, 248, 248), rgba(248, 248, 248, 0));
    right: 0;
    visibility: visible;
  }
  .main__a {
    padding: 8px 10px 8px 17px;
    font-size: 16px;
    font-weight: 600;
    color: #7e7e82;
    text-decoration: none;
    white-space: nowrap;
  }
  .main__a_active {
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }
  .main__title {
    margin: 0;
    margin-left: 16px;
    font-size: 28px;
    display: inline;
    font-family: TT Lakes;
    font-weight: bold;
  }
  .main__buttons {
    display: none;
  }
  .header__marker {
    width: 4px;
    height: 40px;
    background: #41f6d7;
    border-radius: 0 7px 7px 0;
    display: inline-block;
  }
  .main__paragraph {
    margin-bottom: 24px;
    padding: 0 16px 0 16px;
    font-size: 14px;
    font-weight: normal;
  }
  .main__paragraph:nth-child(2) {
    display: none;
  }
  .main__read {
    border: none;
    padding-left: 48px;
    background-color: #f8f8f8;
    font-weight: 600;
    background-image: url(./static/Arrows.svg);
    background-repeat: no-repeat;
    background-position: 24px 0;
    /* margin-top: 160px; */
  }
  .main__photo {
    width: 320px;
    margin-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
  .main__buttons,
  .swiper,
  .main__mask {
    display: none;
  }
  .header__buttons {
    width: 768px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
  }
  .header__bar {
    width: 290px;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    font-weight: 600;
    background: #f8f8f8;
  }
  .btn_small {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
  }
  .btn_phone {
    background-image: url(./static/Phone.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_message {
    background-image: url(./static/Message.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_profile {
    background-image: url(./static/Profile.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_settings {
    background-image: url(./static/SettingsLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_search {
    background-image: url(./static/SearchLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__tablet {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .header__phone {
    width: 96px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .header__separator:nth-child(2) {
    display: block;
  }
  .header__icon {
    width: 18px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__line {
    height: 2px;
    border-radius: 1px;
    background-color: white;
  }
  .header__icon .line1 {
    width: 18px;
  }
  .header__icon .line2 {
    width: 10px;
  }
  .header__icon .line3 {
    width: 14px;
  }
  .header__separator {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
  }
  .main {
    width: 100%;
    background: #f8f8f8;
  }
  .main__container {
    width: 768px;
    margin: auto;
    padding-top: 16px;
    background: #f8f8f8;
  }
  .main__header {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
  .main__header::before {
    content: "";
    width: 4px;
    height: 40px;
    background: #41f6d7;
    border-radius: 0 7px 7px 0;
    position: absolute;
  }
  .main__title {
    margin: 0;
    margin-left: 16px;
    font-size: 28px;
    display: inline;
    font-family: TT Lakes;
    font-weight: bold;
  }
  .main__nav {
    margin-left: 16px;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 247px 247px 247px;
    grid-template-rows: 38px 38px 38px;
  }
  .main__a {
    padding: 8px 10px 8px 17px;
    font-size: 16px;
    font-weight: 600;
    color: #7e7e82;
    text-decoration: none;
    /* white-space: nowrap; */
    display: flex;
    justify-content: center;
  }
  .main__a_active {
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }
  .main__about {
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
  }
  .main__paragraph {
    margin-bottom: 24px;
    padding: 0 48px 0 16px;
    font-size: 14px;
    font-weight: normal;
  }
  .main__paragraph > span:nth-child(2) {
    display: none;
  }
  .main__read {
    border: none;
    padding-left: 48px;
    background-color: #f8f8f8;
    font-weight: 600;
    background-image: url(./static/Arrows.svg);
    background-repeat: no-repeat;
    background-position: 24px 0;
    /* margin-top: 160px; */
  }
  .main__photo {
    width: 360px;
    margin-top: 16px;
  }
}
@media (min-width: 1120px) {
  .header,
  .swiper,
  .header__buttons,
  .main__mask {
    display: none;
  }
  .main {
    width: 100%;
    background: #f8f8f8;
  }
  .main__container {
    width: 1120px;
    margin: auto;
    padding-top: 16px;
    background: #f8f8f8;
  }
  .main__header {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
  .main__header::before {
    content: "";
    width: 4px;
    height: 40px;
    background: #41f6d7;
    border-radius: 0 7px 7px 0;
    position: absolute;
  }
  .main__title {
    margin: 0;
    margin-left: 16px;
    font-size: 28px;
    display: inline;
    font-family: TT Lakes;
    font-weight: bold;
  }
  .main__buttons {
    margin-right: 32px;
    display: flex;
    gap: 32px;
  }
  .btn {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    font-weight: 600;
    background: #f8f8f8;
  }
  .btn_small {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
  }
  .btn::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
  }
  .btn_settings::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25807 13.4583L8.66685 13.0494L6.94998 11.3322L6.54121 11.7411L6.33682 11.5367C6.0098 11.1687 5.68278 10.9643 5.35575 11.0052C5.11049 11.0052 4.9061 11.1687 4.74259 11.414C4.49732 11.8229 4.61996 12.2726 4.66083 12.5588C4.66083 12.6406 4.70171 12.6815 4.70171 12.7632C4.70171 12.8859 4.70171 13.0494 4.41557 13.0903C4.00679 13.213 3.47538 13.3356 2.94397 13.6218C2.20817 14.0307 1.71764 14.3987 1.4315 14.7666C-0.0809772 16.7291 0.000778159 18.4055 0.000778159 18.4872C0.000778159 18.6099 0.0416558 18.6917 0.123411 18.7325L1.22711 19.8773C1.30886 19.9591 1.39062 20 1.47237 20C1.47237 20 1.51325 20 1.59501 20C2.00378 20 3.47538 19.9182 5.19224 18.569C5.56014 18.2828 5.92804 17.7922 6.33682 17.0562C6.62296 16.5656 6.78647 16.0341 6.86823 15.5844C6.94998 15.2982 7.07262 15.2982 7.19525 15.2982C7.23613 15.2982 7.31788 15.339 7.39964 15.339C7.56315 15.3799 7.72666 15.4208 7.93105 15.4208C8.13544 15.4208 8.33983 15.3799 8.54421 15.2573C8.78948 15.0937 8.95299 14.8893 8.99387 14.644C9.03475 14.3169 8.87123 13.9898 8.50334 13.7036L8.25807 13.4583Z' fill='white'/%3E%3Cpath d='M16.884 4.87841L18.0188 4.32603C18.0609 4.28354 18.1449 4.24105 18.1869 4.19856L19.9101 1.86157C20.0362 1.69161 20.0362 1.43667 19.8681 1.3092L18.6913 0.119458C18.5652 -0.00801422 18.313 -0.0505049 18.1449 0.076967L15.8333 1.81908C15.7913 1.86157 15.7493 1.90406 15.7072 1.98905L15.1609 3.13629L11 7.21539L12.7652 9L16.884 4.87841Z' fill='white'/%3E%3Cpath d='M17.8527 13.0448C16.8636 12.0036 15.4393 11.6288 14.0941 12.0036L7.64527 5.17331C7.72439 4.79848 7.76396 4.46529 7.76396 4.09046C7.76396 3.04926 7.36832 2.00806 6.61661 1.21675C5.58796 0.0922529 4.04498 -0.282579 2.6207 0.217197C2.54157 0.258845 2.42288 0.383789 2.38331 0.550381C2.38331 0.675325 2.42288 0.800269 2.50201 0.925213L4.44062 2.96597C4.87582 3.42409 4.87582 4.21541 4.44062 4.67353C4.00542 5.13166 3.25371 5.13166 2.81851 4.67353L0.8799 2.63278C0.76121 2.54949 0.642519 2.50784 0.484265 2.54949C0.365574 2.54949 0.246884 2.67443 0.20732 2.79937C-0.267442 4.25705 0.0886295 5.88133 1.11728 6.96417C1.82943 7.75549 2.85808 8.17197 3.88673 8.17197C4.20324 8.17197 4.55931 8.13032 4.87582 8.04702L11.3642 14.8773C11.0082 16.2933 11.4038 17.7927 12.3533 18.8339C13.105 19.6252 14.0546 20 15.0832 20C15.5184 20 15.914 19.9167 16.3492 19.7918C16.4679 19.7501 16.5866 19.6252 16.6262 19.5002C16.6658 19.3753 16.6262 19.2087 16.5075 19.1254L14.5689 17.0846C14.3711 16.8764 14.2128 16.5432 14.2128 16.21C14.2128 15.8768 14.3315 15.5853 14.5689 15.3354C14.8063 15.0855 15.0832 14.9606 15.3997 14.9606C15.7162 14.9606 15.9932 15.0855 16.2306 15.3354L18.1692 17.3762C18.2879 17.4595 18.4065 17.5011 18.5252 17.5011C18.6439 17.4595 18.7626 17.3762 18.8022 17.2512C18.9209 16.8348 19 16.3766 19 15.9185C19 14.8356 18.6044 13.7944 17.8527 13.0448Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_search::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447716 16 1V18.5C15.1716 18.5 14.5 19.1715 14.5 19.9999H13.5C13.5 19.1715 12.8284 18.5 12 18.5C11.1716 18.5 10.5 19.1715 10.5 19.9999H9.5C9.49995 19.1715 8.8284 18.5 8 18.5C7.1716 18.5 6.50005 19.1715 6.5 19.9999H5.5C5.49995 19.1715 4.8284 18.5 4 18.5C3.1716 18.5 2.50005 19.1715 2.5 19.9999H1.5C1.49995 19.1715 0.828399 18.5 0 18.5V1ZM9.41631 11.7884C8.55357 12.3443 7.47034 12.5936 6.32961 12.3827C4.52743 12.0472 3.08953 10.5326 2.85946 8.71135C2.4952 5.82606 4.94922 3.42005 7.85379 3.88016C9.65596 4.16773 11.1034 5.64393 11.4006 7.43646C11.5828 8.5484 11.3239 9.57406 10.7871 10.4272L12.896 12.5265C13.2699 12.9003 13.2699 13.5138 12.896 13.8876C12.5126 14.2711 11.8991 14.2711 11.5252 13.8972L9.41631 11.7884ZM4.70582 8.05877C4.70582 6.75995 5.75994 5.70583 7.05876 5.70583C8.35758 5.70583 9.4117 6.75995 9.4117 8.05877C9.4117 9.3576 8.35758 10.4117 7.05876 10.4117C5.75994 10.4117 4.70582 9.3576 4.70582 8.05877Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    font-weight: 600;
    background: #f8f8f8;
  }
  .btn_small {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
  }
  .btn_phone::after {
    background-image: url(./static/Phone.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_message::after {
    background-image: url(./static/Message.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_profile::after {
    background-image: url(./static/Profile.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_settings::after {
    background-image: url(./static/SettingsLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn_search::after {
    background-image: url(./static/SearchLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__nav {
    margin-left: auto;
    margin-right: 32px;
    display: grid;
    grid-template-columns: 247px 247px 247px 247px;
    grid-template-rows: 38px 38px;
  }
  .nav {
    margin-left: 16px;
    margin-bottom: 24px;
  }
  .main__a {
    padding: 8px 10px 8px 17px;
    font-size: 16px;
    font-weight: 600;
    color: #7e7e82;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  .main__a_active {
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }
  .main__about {
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
  }
  .main__paragraph {
    margin-bottom: 24px;
    padding: 0 36px 0 34px;
    font-size: 14px;
    font-weight: normal;
  }
  .main__read {
    border: none;
    padding-left: 48px;
    background-color: #f8f8f8;
    font-weight: 600;
    background-image: url(./static/Arrows.svg);
    background-repeat: no-repeat;
    background-position: 24px 0;
    /* margin-top: 160px; */
  }
  .main__photo {
    width: 532px;
    margin-top: 16px;
  }
}

/*# sourceMappingURL=style.css.map*/