body {
  margin: 0;
}

.playground {
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

[class^="card"] {
  width: 100px;
  height: 100px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  width: 100px;
  height: 100px;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
}
