@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes/TTLakes-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes/TTLakes-DemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes/TTLakes-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes/TTLakes-Regular.ttf");
  font-weight: normal;
}

.btn {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  font-weight: 600;
  background: #f8f8f8;
}

.btn_small {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
}

.btn_transparent {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.btn_transparent::after {
  content: "";
  width: 7px;
  height: 7px;
  border-right: 2px solid #ff3e79;
  border-bottom: 2px solid #ff3e79;
  border-radius: 20%;
  transform: translateX(-2px) rotate(-45deg);
}

.btn_transparent:hover {
  box-shadow: 0 0 5px #ff3e79;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .main {
    display: none;
  }

  html body .swiper {
    width: 320px;
    height: 205px;
  }

  html body .swiper h1 {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 16px;
    padding-bottom: 10px;
    height: 48px;
    background: white;
    color: #7e7e82;
    font-family: TT Lakes;
    font-size: 18px;
    font-weight: normal;
    /* line-height: 24px; */
  }

  /* 
  html body .swiper .swiper-wrapper  */

  html body .swiper .swiper-slide {
    width: 240px;
    height: 72px;
    justify-content: space-around;
    background: #f2f2f2;
  }

  html body .swiper .swiper-slide .slider__wrapper {
    padding: 0 16px;
    width: 240px;
    height: 72px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  html body .swiper .swiper-slide .slider__wrapper img {
    width: 108px !important;
    height: 32px !important;
    object-fit: contain;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .swiper,
  .main__brand:nth-child(n + 7) {
    display: none;
  }

  .main {
    margin: auto;
    width: 768px;
  }

  .main__header {
    margin: 0;
    padding: 16px 24px;
    height: 56px;
    background-color: white;
    color: #7e7e82;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 56px;
  }

  .main__brands {
    padding: 24px 24px 16px;
    height: 160px;
    background-color: #eee;
    display: grid;
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 72px 72px;
    gap: 16px 24px;
  }

  .main__hidden {
    padding: 0 24px 24px;
    height: 72px;
    background-color: #eee;
    display: none;
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 72px;
    gap: 24px;
  }

  .main__brand {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .main__brand > img {
    width: 108px;
    height: 32px;
  }

  .main__show_hidden {
    margin: 8px 32px 34px;
    border: none;
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .main__show_shown {
    margin: 0 32px 34px;
    border: none;
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .main__show_hidden::before {
    content: "";
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url("../images/Arrows.svg");
  }

  .main__show_shown::before {
    content: "";
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url("../images/Arrows.svg");
    transform: rotate(180deg);
  }
}

@media (min-width: 1120px) {
  .swiper {
    display: none;
  }

  .main {
    margin: auto;
    width: 1120px;
  }

  .main__header {
    margin: 0;
    padding: 16px 32px;
    height: 56px;
    background-color: white;
    color: #7e7e82;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 56px;
  }

  .main__brands {
    padding: 24px 32px 16px;
    height: 160px;
    background-color: #eee;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 72px 72px;
    gap: 16px 32px;
  }

  .main__hidden {
    padding: 0 32px 24px;
    height: 72px;
    background-color: #eee;
    display: none;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 72px;
    gap: 16px 32px;
  }

  .main__brand {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .main__brand > img {
    width: 108px;
    height: 32px;
  }

  .main__show_hidden {
    margin: 8px 32px 34px;
    border: none;
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .main__show_shown {
    margin: 0 32px 34px;
    border: none;
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .main__show_hidden::before {
    content: "";
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url("../images/Arrows.svg");
  }

  .main__show_shown::before {
    content: "";
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url("../images/Arrows.svg");
    transform: rotate(180deg);
  }
}
