@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes/TTLakes-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes/TTLakes-DemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes/TTLakes-Medium.ttf');
    font-weight: medium;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes/TTLakes-Regular.ttf');
    font-weight: normal;
}

.sidebar {
    padding-top: 19px;
    padding-bottom: 32px;
    width: 320px;
    height: 1024px;
    font-family: TT Lakes;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 16px 0 52px #0E185033, -2px 0px 4px 0px #454F7E05;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__logo {
    margin-left: 17px;
}

.btn {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    font-weight: 600;
    background: #F8F8F8;
}

.btn_small {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.btn_cross {
    background-image: url("../images/Cross.svg")
}

.btn_settings {
    background-image: url("../images/SettingsLogo.svg");
}

.btn_search {
    background-image: url("../images/SearchLogo.svg");
}

.btn_phone {
    background-image: url("../images/Phone.svg");
}

.btn_message {
    background-image: url("../images/Message.svg");
}

.btn_profile {
    background-image: url('../images/Profile.svg');
}

.header__bar {
    width: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__phone {
    width: 96px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header__icon {
    width: 18px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__header > .sidebar__btn:nth-child(1) {
    margin-left: 24px;
}

.sidebar__header > .sidebar__btn:nth-child(3) {
    margin-left: 79px;
}

.sidebar__menu {
    margin-top: 46px;
    padding: 0;
}

.sidebar__item {
    list-style-type: none;
    margin-bottom: 32px;
    padding: 0;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
}

.sidebar__item_active {
    color: #7E7E82;
}

.sidebar__item_active::before {
    content: '';
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    position: absolute;
    border-radius: 0 7px 7px 0;
}

.sidebar__text {
    margin-left: 24px;
}

.sidebar__footer {
    margin-left: 24px;
}

.sidebar__buttons {
    display: flex;
    gap: 16px;
}

.sidebar__email {
    margin-top: 16px;
    font-size: 16px;
}

.sidebar__phone {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 600;
}

.sidebar__languages {
    margin-top: 40px;
}

.sidebar__language_active {
    color: #7E7E82;
}
